* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

main {
    grid-column: 2/3;
    margin: 1rem;

}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    padding: 0;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

main {
    padding: 15px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    float: right;
}

h1 {
    color: darkblue;
    font-size: 2rem;
    border-bottom: 2px solid navy;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 10px 0;
    line-height: 1.6;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 130px;

}

footer {
    margin-top: 15px;
    border-top: 2px solid #000;
    text-align: center;
    color: black;
    background-color: grey;
}

/* class selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #32cce7;
    color: black;
}