* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 0;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

main {
    max-width: 840px;
    padding: 15px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0, 0, 10px gray;
    float: right;
}

h1 {
    color: darkblue;
    font-size: 2rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 10px, 0;
    line-height: 1.6;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 130px;

}

footer {
    margin-top: 15px;
    border-top: 2px solid #000;
    text-align: center;
    color: black;
    background-color: grey;
}

/* class selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #32cce7;
    color: black;
}